{% extends "account/../../../../../../.local/share/virtualenvs/env1-X6Hvyawx/lib/python3.8/site-packages/allauth/templates/account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <h1 class="text-center mb-4">{% trans "Password Reset" %}</h1>
                        <div class="auto-form-wrapper">
                            {% if user.is_authenticated %}
                                {% include "account/snippets/../../../../../../.local/share/virtualenvs/env1-X6Hvyawx/lib/python3.8/site-packages/allauth/templates/account/snippets/already_logged_in.html" %}
                            {% endif %}

                            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-group">
                                    <button type="submit" name="action" class="btn btn-primary submit-btn btn-block">{% trans "Reset My Password" %}</button>
                                </div>
                            </form>

                            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
