{% extends "account/../../../../../../.local/share/virtualenvs/env1-X6Hvyawx/lib/python3.8/site-packages/allauth/templates/account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100 mx-auto">
                    <div class="col-lg-4 mx-auto">
                        <h1 class="text-center mb-4">{% trans "Set Password" %}</h1>
                        <div class="auto-form-wrapper">

                            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-group">
                                    <button type="submit" name="action" class="btn btn-primary submit-btn btn-block">{% trans 'Set Password' %}</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
