<li class="list-group-item list-group-item-action center-align white bg-secondary">Información general</li>
<li class="list-group-item">Tipo de Chasis: {{ model.type_case }}</li>
<li class="list-group-item">TDP: {{ model.power_supply }}</li>
<li class="list-group-item">Color: {{ model.color }}</li>
<li class="list-group-item">Tamaño: {{ model.formFactor }}</li>
<li class="list-group-item list-group-item-action center-align white bg-secondary">Paneles</li>
<li class="list-group-item">Panel Lateral: {{ model.side_panel_window }}</li>
<li class="list-group-item">Panel Frontal: {{ model.front_panel_USB }}</li>
<li class="list-group-item list-group-item-action center-align white bg-secondary">Cantidad de Bahia</li>
<li class="list-group-item">Bahia externas de 5.25 pulgadas: {{ model.external_bays_5 }}</li>
<li class="list-group-item">Bahia externas de 3.25 pulgadas: {{ model.external_bays_3 }}</li>
<li class="list-group-item">Bahia internas de 3.25 pulgadas: {{ model.internal_bays_3 }}</li>
<li class="list-group-item">Bahia internas de 2.5 pulgadas: {{ model.internal_bays_2 }}</li>
<li class="list-group-item list-group-item-action center-align white bg-secondary">Conectores de expansión</li>
<li class="list-group-item">Conectores de expansión de tamaño completo: {{ model.full_h_expansion_slot }}</li>
<li class="list-group-item">Conectores de expansión de tamaño medio: {{ model.half_h_expansion_slot }}</li>