<div>
    <div class="center">
        <h3>Economia</h3>
    </div>
    <div class="width_90 bg-light border radio_border">

        <div class="row width_90 pd_bottom_50">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-xl-4 center">
                <h3 class="center">Operaciones</h3>
                <div class="chart-container bg-light border radio_border center">
                    <canvas id="firstChart" height="500" width="500">Cantidad de operaciones</canvas>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-xl-4 center">
                <h3 class="center">Deudas</h3>
                <div class="chart-container bg-light border radio_border center">
                    <canvas id="secondChart" height="500" width="500">Cantidad de operaciones</canvas>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-xl-4 center">
                <h3 class="center">Salario</h3>
                <div class="chart-container bg-light border radio_border center">
                    <canvas id="thirdChart" height="500" width="500">Cantidad de operaciones</canvas>
                </div>

            </div>
        </div>

    </div>

</div>