{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container pd_top_50 text_size_1em">
        {% include 'shop/product/partials/_info.html' %}
        <div class="row align-items-center ">
            <div class="col-md-12 col-sm-12 pd_top_20 bg_color">
                <ul class="list-group list-group-flush bg_color_parent overflow_vertical ">

                    {% include renderToPage %}

                </ul>
            </div>
        </div>

    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            data = "{{ model.Tags }}".split("/");
            document.getElementById('tag').innerText = "Etiquetas: "
            data.map( function (x) {
                let a = document.createElement("a");
                a.classList.add('btn', 'btn-secondary', 'mg_rigth_5');
                a.href = '{% url 'tienda:product_tags' tags='replacable'%}'.replace(/replacable/, x)
                a.innerText = x;
                document.getElementById('tag').append(a);
                return 0;
            })


        })
    </script>

{% endblock %}