@font-face {
  font-family: "bootstrap-icons";
  src: url("./fonts/bootstrap-icons.woff2?8bd4575acf83c7696dc7a14a966660a3") format("woff2"),
url("./fonts/bootstrap-icons.woff?8bd4575acf83c7696dc7a14a966660a3") format("woff");
}

.profile_picture {
    height: 50px !important;
    width: 50px !important;
    margin: 0 auto !important;
    border-radius: 50%;
}

.profile_picture_100 {
    height: 100px !important;
    width: 100px !important;
    margin: 0 auto !important;
    border-radius: 50%;
}

.profile_picture_200 {
    height: 200px !important;
    width: 200px !important;
    margin: 0 auto !important;
    border-radius: 50%;
}

.profile_picture_300 {
    height: 300px !important;
    width: 300px !important;
    margin: 0 auto !important;
    border-radius: 50%;
}

.mg_top_100 {
    margin-top: 100px !important;
}

.mg_top_10 {
    margin-top: 10px !important;
}

.mg_top_50 {
    margin-top: 50px !important;
}

.pd_bottom_50 {
    padding-bottom: 50px !important;
}


.mg_top_bottom_30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}


@media (min-width: 570px) {
    .mg_top_bottom_50 {
        margin-top: 128px !important;
        margin-bottom: 128px !important;
    }
}


.mg_rigth_20 {
    margin-right: 20px !important;
}

.width_50 {
    margin: 0 auto;
    width: 30% !important;
}

.width_80 {
    margin: 0 auto !important;
    width: 50% !important;
}

.width_90 {
    margin: 0 auto !important;
    width: 90% !important;

}

.width_99 {
    margin: 0 auto !important;
    width: 100% !important;

}

.brd_round {
    border-radius: 20px 20px 20px 20px !important;
}

.brd_round_up {
    border-radius: 20px 20px 0px 0px !important;
}

.brd_round_down {
    border-radius: 0px 0px 20px 20px !important;
}

.brd_up {
    border-top: 2px solid gray !important;
}

.nav_logo {
    width: 150px !important;
    height: 150px !important;

    border-radius: 200px 200px 200px 200px !important;
}

@media (min-width: 990px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    / / remove the gap so it doesn 't close
    }

}

.link {
    text-decoration: none !important;
}

.link:hover {
    color: white;
}

.selectmultiple {
    height: 200px !important;
}

.action_red:hover {
    background: red !important;
    border-color: red !important;
}

.action_detail:hover {
    background: #5e35b1 !important;
    border-color: #5e35b1 !important;
}

* {
    scrollbar-color: #343a40 black !important;
    scrollbar-width: thin !important;

}

.danger {
}

.danger:hover {
    cursor: pointer !important;
    color: red !important
}

.rounded_20 {
    border-radius: 20px;
}

.rounded_50 {
    border-radius: 50%;
}

.bg-almost-green {
    background-color: rgba(110, 255, 138, 0.68);
}

.hover_cursor:hover {
    cursor: pointer;
    color: rgba(97, 226, 255, 0.68);
}

.hover_cursor:hover span {
    color: inherit;
}

.hover_red:hover {
    background-color: red !important;
}

.hover_green:hover {
    background-color: green !important;
}


.bottom_postions {
    position: fixed !important;
    right: 1%;
    bottom: 0vh !important;
}


.bottom_postions_center {
    position: fixed !important;
    left: 50%;
    bottom: 0vh !important;
}

.first_element {
    z-index: 2
}

.first_element ul {
    position: absolute;
    z-index: 1;

    transition: opacity ease-out 1s, bottom ease-in 0.5s;
    bottom: 4.3vh;
    opacity: 0%;
}

.first_element ul li {
    margin-bottom: 10px;
    font-size: 5px !important;
}

.first_element:hover ul {
    opacity: 1;
    bottom: 5vh;


}

/*
Animación
@keyframes opacity_change {
    0% {
    bottom: 4.3vh;}
    100% {
    bottom: 5vh;}
}
Usar transition para un visual mas bonito

*/

.second_screen {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    bottom: 3vh;
    left: -11.5vh;
    opacity: 0%;
    transition: opacity ease-in 1s, bottom ease-in 0.5s, visibility linear 0.5s;
}

.second_screen2 {
    bottom: 5vh;
    visibility: visible;
    opacity: 100%;

}

.second_screen3 {

    visibility: hidden;
    bottom: 3vh;
    left: -11.5vh;
    opacity: 0%;
}

.invalid-feedback {
    color: white;
    padding: 10px;
    background-color: black;
    border: red 2px solid;
    /*animation: move 1s infinite alternate;
    animation-delay: 0.5s ;*/
}

@keyframes move {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }

}

.hide_overflow_x {
    overflow-x: hidden !important;
}

.radio_border {
    border-radius: 10px 10px 10px 10px;
}

.chart_height {
    height: 100px;
    width: 100px;
}

.text_responsive {
    font-size: 3vw !important;
}


.nav-link::before {

    transition: all 900ms ease-out;
    position: absolute;
    height: 3px;
    content: "";
    background-color: rgba(0, 203, 255, 1);
    width: 0%;
    bottom: 5px;
}

.nav-link {
    position: relative;
}

.nav-link:hover::before {

    width: 90%;

}

.navbar-brand {
    text-shadow: 10px 10px 8px red !important;
}

/*.btn{*/
/*    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../image/avatar.png");*/
/*    background-size: cover;*/
/*}*/

.test_card {
    position: relative;
    transition: all ease-out 500ms;
    z-index: 2;
}

.test_card h5 {
    z-index: 1;
}

:root {
    --size: 0px;
}

.test_card::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    transition: 1500ms ease-out;
    clip-path: inset(0 100% 0 0);
    border-radius: 20px;

}

.test_card:hover::before {
    clip-path: inset(0 0 0 0);
    border-radius: 20px;

}


/*.test_card::after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: lightblue;*/
/*    transition: 2000ms ease-out;*/
/*    clip-path: circle(0 at  center);*/
/*    border-radius: 20px;*/
/*    transition-delay: 100ms;*/

/*}*/

/*.test_card:hover::after{*/
/*     clip-path: circle(600px at  center);*/
/*    border-radius: 20px;*/
/*}*/

.accessDenay {
    padding-top: 30vh;
}

.img_modal {

    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    transition: all ease-out 500ms;
    z-index: 2;
}

.img-category {
    width: 100%;
    height: 100%;
}

.box_shows_test {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    height: 300px;
    transition: all 1s;
}

.top_to_middle {
    padding-top: 15vh !important;
    transition: all 500ms ease-out;
}

@media (max-width: 760px) {
    .top_to_middle {
        padding-top: 5vh !important;
    }
}

/*}@media (max-width: 1130px) {*/
/*    .box_shows_test {*/
/*        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);*/
/*        overflow: hidden;*/
/*        width: 300px;*/
/*        height: 200px;*/
/*    }*/

/*}@media (max-width: 973px) {*/
/*    .box_shows_test {*/
/*        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);*/
/*        overflow: hidden;*/
/*        width: 350px;*/
/*        height: 200px;*/
/*    }*/

/*}@media (max-width: 863px) {*/
/*    .box_shows_test {*/
/*        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);*/
/*        overflow: hidden;*/
/*        width: 300px;*/
/*        height: 200px;*/
/*    }*/

/*}*/

.box_shows_test img {
    width: inherit;
    height: inherit;
}


.category_text:before {
    content: "";
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(1, 1, 1, 0.5);
    transform-origin: bottom left;
    transform: rotate(90deg);
    /*clip-path: inset(100% 100% 0 0);*/
    border-radius: 20px 20px 20px 20px;
    transition: all 500ms ease-in;
}

.text_in_category {
    position: absolute;
    opacity: 0;
    color: whitesmoke;
    bottom: -10px;
    transition: all 500ms ease-in;
    transition-delay: 50ms;

}


.box_shows_test:hover .category_text:before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(0deg);
    /*clip-path: inset(0 0 0 0);*/

}

.box_shows_test:hover .text_in_category {
    position: absolute;
    bottom: 10px;
    opacity: 1;

}

.form_icon {
    font-size: 0.7em !important;
    transition: all 0.5s ease-in-out;
}

.form_icon:hover {
    color: red;
    cursor: pointer;
}

.check_circle {
    font-size: 1.8em;
     color: green;
}

.check_circle:hover {

    /*background: -webkit-linear-gradient(#048a00, #04ba00);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*animation: color-change 1s linear infinite;*/
}

/*@keyframes color-change {*/
/*    to {*/
/*        background-: 200% center;*/
/*    }*/
/*}*/


.x_circle {
    font-size: 1.8em;
     color: red;
}

.x_circle:hover {
   }

.box{
    height: 20px !important;
    width: 50px !important;
    border: 1.5px solid gray;
    padding:0 20px 0 0;
    margin-left: 10px;
}

.img_gray_filter{
    filter: grayscale(100%);
}
.img_gray_filter:hover{
    filter: grayscale(0%);
}

.pd_top_50{
    padding-top: 10vh;
}

.gpu_form{
    position: relative;
    top: 10vh;
    margin: 0 auto;
    width: 80% !important;

}

.form_style{
    margin: 0 auto;

    width: 80% !important;
}

.form_style .btn{
    margin: 0 auto;
    width: 80% !important;
}

.card-header a{
    color: black;
    text-decoration: none;
}


.card-header a:hover::after{
    content: "*";
}