<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load notifications_tags %}
    {% notifications_unread as unread_count %}
    <meta charset="UTF-8">
    <title>Almacen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">

</head>
<body>

<header >

      <nav class="blue-grey" >
        <div class="nav-wrapper">
          <a href="{% url 'almacen:index' %}" class="brand-logo">Almacen</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li> <a href="{% url 'almacen:add' %}" class="waves-effect waves-light btn btn-outline-primary">Adicionar</a></li>
              <li><form action="{% url 'almacen:del' %}" id="delete_form" method="post">{% csrf_token %}<button id="delete_btn" class="disabled waves-effect waves-light btn-large" onclick="return confirm('Desea eliminar los productos?')">Eliminar</button></form> </li>
          <li><a href="{% url 'account_logout' %}" class="btn">Log Out</a></li>
              {% if unread_count > 0 %}
              <li> <a href="{% url 'notifications:all' %}" class="waves-effect waves-light ">Notification {% live_notify_badge %}</a></li>
              {% else %}
              <li> <a href="{% url 'notifications:all' %}" class="waves-effect waves-light btn-large">Notification</a></li>
              {% endif %}
          </ul>


        </div>
      </nav>


</header>

         {%block content%}

        {% endblock %}



<footer>

</footer>

<script src="{% static 'js/materialize.js' %}" type="text/javascript"></script>
{% block js %}
{% endblock %}
</body>
</html>