{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container width_50 mg_top_50">
        <div class="card">
            <div class="card-header text-center">
                <h4>Adicionar Producto</h4>
            </div>
            <div class="card-body">
                <form method="post"  enctype="multipart/form-data">{% csrf_token %}

                    {% crispy form %}
                    {{ form.media }}

                    <br>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-outline-primary btn-block" value="Create Product">
                    </div>

                </form>
            </div>

        </div>
        <div class="row" style="width: 40%">

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">


    </script>
{% endblock %}
