{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="gpu_form">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% crispy form %}
            <br>
            <div class="btn-group btn-block" role="group" aria-label="buttonss">
                <input type="submit" class="btn btn-outline-primary" value="{{ text }}">
            </div>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        let slug = document.getElementById("id_slug");
        let default_slug = slug.value;
        let count = 0;
        let characters = 0;
        $('#id_nombre').keypress(function (e) {
            if (count == 0) {
                slug.value = "";
                count++;
            }
            if (characters < 23) {
                if (e.key != " ")
                    if (e.key == "/")
                        slug.value += 'and';
                    else if (e.keyCode >= 65 && e.keyCode <= 90 || e.keyCode >= 97 && e.keyCode <= 122 || e.keyCode >= 48 && e.keyCode <= 57)
                        slug.value += e.key.toLowerCase();
                    else
                        slug.value += "";
                else
                    slug.value += "_";
                characters++;
            }

        })

        $('#id_nombre').keydown(function (e) {
            if (e.keyCode == 8) {
                if (this.value.length == slug.value.length) {
                    slug.value = slug.value.substr(0, slug.value.length - 1);
                }

                characters--;
                if (this.value === "") {
                    slug.value = "";
                    characters = 0;
                }
            }


        })


    </script>
{% endblock %}
